<tr class="order-img">
  <td><%= order_item_counter + 1 %></td>
  <td><%= image_tag order_item.product_avatar.url if order_item.product_avatar.present? %></td>
  <td><%= order_item.product_name %></td>
  <td><%= format_currency order_item.price_product %></td>
  <td>
    <%= detail(order_item, order_item_counter).color_color %>
    (<%= detail(order_item, order_item_counter).quantity %>)
  </td>
  <td>
    <%= label_tag nil, order_item.quantity,
      class: "badge badge-#{badge_class order_item, order_item_counter}" %>
  </td>
  <td><%= format_currency(sub_total order_item.price_product, order_item.quantity) %></td>
</tr>
