<tr>
  <td><%= order_counter %></td>
  <td><%= order.user_name %></td>
  <td><%= order.address %></td>
  <td>
    <%= format_currency(total_money order.order_items) %>
  </td>
  <td><%= format_date order.created_at %></td>
  <td>
    <%= label_tag nil, get_status(order.status), class: get_color_status(order.status) %>
  </td>
  <td>
    <%= link_to shops_order_path(order), class: "btn btn-info" do %>
      <i class="fa fa-eye"></i>
    <% end %>
  </td>
</tr>
