<tr>
  <td><%= order_counter %></td>
  <td><%= order.user_name %></td>
  <td><%= order.address %></td>
  <td>
    <%= format_currency(total_money order.order_item) %>
  </td>
  <td><%= format_date order.created_at %></td>
  <td>
    <%= get_status order %>
  </td>
  <td></td>
</tr>
