<%= provide :title, t("shop.order.detail.title") %>
<div class="container-fluid">
  <div class="row product-adding">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <%= render "search" %>
        </div>
        <div class="card-body">
          <div class="digital-add needs-validation">
            <table id="data-table" class="table table-hover table-bordered">
              <thead>
                <tr>
                  <th>#</th>
                  <th><%= sort_link @search, :user_name, t("shop.order.index.customer") %></th>
                  <th><%= sort_link @search, :address, t("shop.order.index.address") %></th>
                  <th><%= sort_link @search, :total_amount, t("shop.order.index.total_money") %></th>
                  <th><%= sort_link @search, :created_at, t("shop.order.index.created_at") %></th>
                  <th><%= sort_link @search, :status, t("shop.order.index.status") %></th>
                  <th><%= t "shop.product.index.function" %></th>
                </tr>
              </thead>
              <tbody class="list-order">
                <%= render @orders %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
