<% if session[:order] %>
  <% session[:order].each do |product_color, order_item| %>
    <tbody>
      <tr id="<%= product_color %>">
        <td>
          <%= link_to "#" do %>
             <%= image_tag @product_colors[@index].product_avatar.url %>
          <% end %>
        </td>
        <td><h4 class="product-name"><%= @product_colors[@index].product_name %></h4>
          <div class="mobile-cart-content row">
            <div class="col-xs-3">
              <div class="qty-box">
                <div class="input-group">
                </div>
              </div>
            </div>
            <div class="col-xs-1">
              <h2 class="td-color"><%= order_item["price"] %></h2>
            </div>
            <div class="col-xs-1">
              <h2 class="td-color">
                <%= link_to "#" do %>
                  <i class="ti-close"></i>
                <% end %>
              </h2>
            </div>
          </div>
        </td>
        <td>
          <h4><%= @product_colors[@index].color_color %></h4>
        </td>
        <td>
          <h2 class="price"><%= order_item["price"] %></h2>
        </td>
        <td>
          <div class="qty-box">
            <div class="input-group">
              <%= number_field_tag :quantity, order_item["quantity"],
                data: {url: order_item_path(product_color)},
                min: Settings.min_quantity,
                max: @product_colors[@index].quantity,
                required: true, class: "form-control input-number quantity" %>
            </div>
          </div>
        </td>
        <td>
          <%= link_to order_item_path(product_color), method: :delete, remote: true do %>
            <i class="fa fa-times"></i>
          <% end %>
        </td>
        <td>
          <h2 class="td-color sub-total" id="order_item<%= product_color %>"><%= total_item order_item["quantity"], order_item["price"] %></h2>
          <%= hidden_field_tag :product_color, product_color, class: "product-color" %>
        </td>
      </tr>
      <% @index += @index %>
    </tbody>
  <% end %>
<% end %>
