<section class="cart-section section-b-space">
  <div class="container">
     <div class="theme-tab">
        <ul class="tabs tab-title">
          <li class="current">
            <%= link_to t("home.cart.your_cart"), "tab-4" %>
          </li>
          <li>
            <%= link_to "Bought", "tab-5" %>
          </li>
        </ul>
        <div class="tab-content-cls">
          <div id="tab-4" class="tab-content active default">
            <% if session[:order] %>
              <%= render "new_order" %>
            <% else %>
              <h2 class="empty-cart"><%= t "home.cart.empty" %></h2>
            <% end %>
          </div>
          <div id="tab-5" class="tab-content">
            <tbody>
              <% if @order %>
                <%= render "staging_order", orders: @order %>
              <% end %>
            </tbody>
          </div>
        </div>
      </div>
  </div>
</section>
