<div class="page-sidebar">
  <div class="main-header-left d-none d-lg-block">
    <div class="logo-wrapper">
      <%= link_to "#" do %>
        <%= image_tag "multikart-logo.png", class: "blur-up lazyloaded" %>
      <% end %>
    </div>
  </div>
  <div class="sidebar custom-scrollbar">
    <div class="sidebar-user text-center">
      <div>
        <%= image_tag "avatar-default.png", class: "img-60 rounded-circle lazyloaded blur-up" %>
      </div>
      <h6 class="mt-3 f-14">
        <%= current_admin.email %>
        <br><hr>
        <%= current_admin.role %>
      </h6>
    </div>
    <ul class="sidebar-menu">
      <li>
        <%= link_to admins_root_path, class: "sidebar-header" do %>
          <span><%= t "shop.sidebar.home" %></span>
        <% end %>
      </li>
      <li>
        <%= link_to admins_root_path, class: "sidebar-header" do %>
          <span><%= t "admin.list_user" %></span>
        <% end %>
      </li>
    </ul>
  </div>
</div>
