<div class="col-xl-3 col-6 col-grid-box">
  <div class="product-box">
    <div class="img-wrapper">
      <div class="front">
        <%= link_to product_path product.id do %>
          <%= image_tag product.avatar.url, class: "img-fluid blur-up lazyload bg-img" if product.avatar.present? %>
        <% end %>
      </div>
      <div class="back">
        <%= link_to product_path product.id do %>
          <%= image_tag product.avatar.url, class: "img-fluid blur-up lazyload bg-img" if product.avatar.present? %>
        <% end %>
      </div>
      <div class="cart-info cart-wrap">
          <a href="#" data-toggle="modal" data-target="#quick-view<%= product.id %>" title="Quick View"><i class="fa fa-search"></i></a>
      </div>
    </div>
    <div class="product-detail">
      <div>
        <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
         <i class="fa fa-star"></i></div>
          <%= link_to product_path product.id do %>
            <h6><%= product.name %></h6>
          <% end %>
        <h4><%= product.price %></h4>
      </div>
    </div>
  </div>
  <div class="modal fade bd-example-modal-lg theme-modal" id="quick-view<%= product.id %>" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content quick-view-modal">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
          <div class="row">
            <div class="col-lg-6 col-xs-12">
              <div class="quick-view-img">
                <%= image_tag product.avatar.url, class: "img-fluid blur-up lazyload" if product.avatar.present? %>
              </div>
            </div>
            <div class="col-lg-6 rtl-text">
              <div class="product-right">
                <%= link_to product_path product.id do %>
                  <h6><%= product.name %></h6>
                <% end %>
                 <input type="text" id="product_id" hidden="true" value="<%= product.id %>">
                <h3><%= product.price %>$</h3>
                <ul class="color-variant">
                   <% product.colors.each do |color| %>
                    <label class="container"><%= color.color%>
                      <input data-url="<%= product_colors_path %>" type="radio" class="inp_color" name="radio-color" value= '<%= color.id%>'>
                      <span class="checkmark"></span>
                    </label>
                  <% end %>
                </ul>
                <div class="border-product">
                  <h6 class="product-title"><%= t "product.details" %></h6>
                  <p><%= product.description %></p>
                </div>
                <%= form_for OrderItem.new, remote: true do |f| %>
                  <div class="product-description border-product">
                    <h6 class="product-title"><%= t "product.quantity" %>:<span id="quantity_avai"><%= product.total_quantity%></span></h6>
                    <div class="qty-box">
                      <div class="input-group">
                      <%= f.number_field :quantity, value: 1, class: "form-control input-number-show", min: 1, required: true %>
                      </div>
                    </div>
                  </div>
                  <%= f.hidden_field :product_color, value: nil %>
                  <%= f.hidden_field :price, value: product.price %>
                  <div class="product-buttons">
                    <%= f.submit t("order.order"), class: "btn btn-solid submit-order" %>
                    <%= link_to t("product.details"), (product_path product.id), class: "btn btn-solid" %>
                  </div>
                <% end %>
                <div id="data_a">
                  <input type="hidden" class="data-session" data-session="<%= session[:order].to_json %>">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
