<section class="section-b-space ratio_asos">
  <div class="collection-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-sm-3 collection-filter">
          <div class="collection-filter-block" id="form-search">
            <%= form_tag category_products_path, method: :get, remote: true, id: "say_hi" do %>
              <div class="collection-mobile-back"><span class="filter-back"><i class="fa fa-angle-left"
                    aria-hidden="true"></i><%= t "home.back" %></span></div>
              <div class="collection-collapse-block border-0 open">
                <h3 class="collapse-block-title"><%= t "home.price" %></h3>
                <div class="collection-collapse-block-content">
                  <div class="wrapper mt-3">
                    <div class="range-slider">
                      <%= text_field_tag "price", nil, class: "js-range-slider" %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="collection-collapse-block open">
                <h3 class="collapse-block-title"><%= t "home.brand" %></h3>
                <div class="collection-collapse-block-content">
                  <div class="collection-brand-filter">
                    <% load_brand.each do |brand| %>
                      <div class="custom-control custom-checkbox collection-filter-checkbox">
                        <%= check_box_tag "brands[]", brand.id, false, id: "brand#{brand.id}" %>
                          <%= label_tag class: "brand-select" do %>
                            <%= brand.name %>
                          <% end %>
                      </div>
                    <% end -%>
                  </div>
                </div>
              </div>
              <div class="collection-collapse-block open">
                <h3 class="collapse-block-title"><%= t "home.color" %></h3>
                <div class="collection-collapse-block-content">
                  <div class="collection-brand-filter">
                    <% load_color.each do |color| %>
                      <div class="custom-control custom-checkbox collection-filter-checkbox">
                        <%= check_box_tag "colors[]", color.id, false, id: "color#{color.id}" %>
                        <%= label_tag class: "color-select" do %>
                          <%= color.color %>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="collection-content col">
          <div class="page-main-content">
            <div class="row">
              <div class="col-sm-12">
                <div class="collection-product-wrapper">
                  <div class="product-wrapper-grid">
                    <div class="row margin-res" id="list-product">
                      <%= render @products %>
                    </div>
                  </div>
                  <div class="product-pagination">
                    <%= paginate @products, remote: true, theme: Settings.paginate_theme %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
