<section>
  <div class="collection-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-lg-1 col-sm-2 col-xs-12">
          <div class="row">
            <div class="col-12 p-0">
              <div class="slider-right-nav">
                <% @product.images.each do |image| %>
                  <div><%= image_tag image.image.url, onerror: "this.src= #{Settings.image_default}", class: "img-fluid blur-up lazyload" %></div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-10 col-xs-12 order-up">
          <div class="product-right-slick">
            <div>
              <%= image_tag @product.avatar.url, onerror: "this.src= #{Settings.image_default}", class: "img-fluid blur-up lazyload image_zoom_cls-0" %>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="product-right product-description-box">
            <h2><%= @product.name %></h2>
            <%= hidden_field_tag :product_id, @product.id, id: "product_id" %>
            <div class="border-product">
              <h6 class="product-title"><%= t "product.product_details" %></h6>
              <p><%= @product.description %></p>
            </div>
            <div class="single-product-tables border-product detail-section">
              <table>
                <tbody>
                  <tr>
                    <td><%= t "product.brand" %></td>
                    <td><%= @product.brand_name %></td>
                  </tr>
                  <tr>
                    <td><%= t "product.rate" %>:</td>
                    <td>
                      <div id="rating", class="rating">
                        <% if current_user && (rate @product.id, current_user.id) %>
                          <% rate(@product.id, current_user.id).star.to_i.times do %>
                            <i class="fa fa-star"></i>
                          <% end %>
                        <% else %>
                          <% (1..5).to_a.reverse_each do |index| %>
                            <%= radio_button_tag :rating, index, false,
                            class: "rate" , id: "star#{index}" %>
                            <%= label_tag "star#{index}", nil, title: "Awesome - #{index} stars",class: "full" %>
                          <% end %>
                        <% end %>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="product-right product-form-box">
            <h3>$<%= @product.price %></h3>
            <div class="product-description border-product">
              <h6 class="product-title"><%= t "product.select_color" %></h6>
              <div class="modal fade" id="sizemodal" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                </div>
              </div>
              <div class="size-box">
                <ul>
                  <% @product.colors.each do |color| %>
                    <label class="container"><%= color.color %>
                      <%= radio_button_tag :radio_color, color.id, false,
                          data: {url: product_colors_path},
                          class: "inp_color" %>
                      <span class="checkmark"></span>
                    </label>
                  <% end %>
                </ul>
              </div>
              <%= form_for OrderItem.new, remote: true do |f| %>
                <h6 class="product-title"><%= t "product.quantity" %>:<span id="quantity_avai"><%= @product.total_quantity%></span></h6>
                <div class="qty-box">
                  <div class="input-group">
                    <%= f.number_field :quantity, value: 1, class: "form-control input-number-show", min: Settings.min_quantity, required: true %>
                  </div>
                </div>
                <div id="data_a">
                  <%= hidden_field :sessions, nil, data: {session: session[:order].to_json }, class: "data-session" %>
                </div>
                <%= f.hidden_field :product_color, value: nil %>
                <%= f.hidden_field :price, value: @product.price %>
                <div class="product-buttons">
                  <%= f.submit t("order.order"), class: "btn btn-solid submit-order" %>
                </div>
              <% end %>
            </div>
            <%= hidden_field_tag :link, nil, data: {url: ratings_path }, class: "data-link" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- product-tab starts -->
<section class="tab-product m-0">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-12">
        <ul class="nav nav-tabs nav-material" id="top-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link" id="profile-top-tab" data-toggle="tab"
              href="#top-profile" role="tab" aria-selected="false"><%= t "product.product_details" %></a>
            <div class="material-border"></div>
          </li>
          <li class="nav-item"><a class="nav-link" id="review-top-tab" data-toggle="tab"
              href="#top-review" role="tab" aria-selected="false"><%= t "product.write_review" %></a>
            <div class="material-border"></div>
          </li>
        </ul>
        <div class="tab-content nav-material" id="top-tabContent">
          <div class="tab-pane fade" id="top-profile" role="tabpanel" aria-labelledby="profile-top-tab">
           <p><%= @product.description %></p>
            <div class="single-product-tables">
              <table>
                <tbody>
                  <tr>
                    <td><%= t "product.brand" %></td>
                    <td><%= @product.brand_name %></td>
                  </tr>
                  <tr>
                    <td><%= t "product.belong_to" %></td>
                    <td><%= @product.user_name %></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="tab-pane fade" id="top-contact" role="tabpanel" aria-labelledby="contact-top-tab">
            <div class="mt-4 text-center">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/BUWzX78Ye_8"
                allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
          </div>
          <div class="tab-pane fade" id="top-review" role="tabpanel" aria-labelledby="review-top-tab">
            <div class="theme-form">
              <%= render "form_review" %>
            </div>
            <ul class="comment-list form-control ">
              <% if @reviews %>
                <%= render @reviews %>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- product-tab ends -->
