<tr>
  <td><%= product_counter + 1 %></td>
  <td><%= product.name %></td>
  <td><%= format_currency product.price %></td>
  <td><%= product.brand_name %></td>
  <td><%= product.category_name %></td>
  <td><%= format_date product.created_at %></td>
  <td>
    <div class="btn-group">
      <%= link_to edit_shops_product_path(product.slug), class: "btn btn-warning",
                  data: {toggle: "tooltip", placement: "right"}, title: t("shop.product.index.edit") do %>
        <i class="far fa-edit"></i>
      <% end %>
      <%= link_to shops_product_path(product.slug),
                  class: "btn btn-danger",
                  method: :delete,
                  title: t("shop.product.index.delete"),
                  data: {
                    confirm: t("shop.product.index.confirm_delete"),
                    toggle: "tooltip", placement: "right"
                  } do %>
        <i class="far fa-trash-alt"></i>
      <% end %>
    </div>
  </td>
</tr>
