<tr>
  <td><%= page_index params[:page], product_counter, Settings.shop.product_per_page %></td>
  <td class="avatar-index"><%= show_avatar product %></td>
  <td>[<%= product.user_name %>] <%= product.name %></td>
  <td><%= format_currency product.price %></td>
  <td><%= product.brand_name %></td>
  <td><%= product.category_name %></td>
  <td><%= format_date product.created_at %></td>
  <td>
    <div class="btn-group">
      <% if can? :update, product, product.user_id %>
        <%= link_to edit_shops_product_path(product.slug), class: "btn btn-warning",
                    data: {toggle: "tooltip", placement: "right"}, title: t("shop.product.index.edit") do %>
          <i class="fa fa-edit"></i>
        <% end %>
      <% end %>
      <% if can? :destroy, product, product.user_id %>
        <% if product.deleted? %>
          <%= link_to restore_shops_product_path(product.slug),
                      class: "btn btn-success",
                      method: :put,
                      title: t("shop.product.index.confirm_restore"),
                      data: {
                          confirm: t("shop.product.index.confirm_restore"),
                          toggle: "tooltip", placement: "right"
                      } do %>
            <i class="fa fa-recycle"></i>
          <% end %>
        <% else %>
          <%= link_to shops_product_path(product.slug),
                      class: "btn btn-danger",
                      method: :delete,
                      title: t("shop.product.index.delete"),
                      data: {
                          confirm: t("shop.product.index.confirm_delete"),
                          toggle: "tooltip", placement: "right"
                      } do %>
            <i class="fa fa-remove"></i>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </td>
</tr>
