<%= provide :title, t("shop.product.index.title") %>
<div class="container-fluid">
  <div class="row product-adding">
    <div class="col-12">
      <div class="card">
        <div class="card-header p-b-0 p-t-1">
          <div class="row pl-3">
            <div class="col-md-11">
              <%= render "search" %>
            </div>
            <div class="col-md-1">
              <%= link_to new_shops_product_path, class: "btn btn-success float-right",
                          data: {toggle: "tooltip", placement: "right"}, title: t("shop.product.create.add") do %>
                <i class="fa fa-plus"></i>
              <% end %>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="digital-add needs-validation">
            <table id="data-table" class="table table-hover table-bordered">
              <thead>
                <tr>
                  <th>#</th>
                  <th><%= t "shop.product.create.avatar" %></th>
                  <th><%= sort_link @search, :name, t("shop.product.create.name") %></th>
                  <th><%= sort_link @search, :price, t("shop.product.create.price") %></th>
                  <th><%= sort_link @search, :brand_name, t("shop.product.create.brand") %></th>
                  <th><%= sort_link @search, :category_name, t("shop.product.create.category") %></th>
                  <th><%= sort_link @search, :created_at, t("shop.product.index.created_at") %></th>
                  <th><%= t "shop.product.index.function" %></th>
                </tr>
              </thead>
              <tbody>
                <%= render @products %>
              </tbody>
            </table>
            <div class="product-pagination">
              <%= paginate @products, theme: Settings.paginate_theme %>
            </div>
            <div class="col-md-5">
              <%= link_to shops_export_path(format: :xlsx), class: "btn btn-info", title: "Excel" do %>
                Export <i class="fa fa-download"></i>
              <% end %>
              <%= form_tag shops_import_path, multipart: true do %>
                <%= file_field_tag :file, class: "d-none" %>
                <label for="file" class="btn btn-air-danger mt-1">Choose file</label>
                <%= button_tag :submit, class: "btn btn-danger" do %>
                  Import <i class="fa fa-upload "></i>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
