<%= provide :title, t("shop.product.index.title") %>
<div class="container-fluid">
  <div class="row product-adding">
    <div class="col-12">
      <div class="card">
        <div class="card-header p-b-0 p-t-1">
          <div class="row pl-3">
            <div class="form-inline border border-dark p-3 b-r-5">
              <%= render "search" %>
              <hr>
              <div class="form-group">
                <%= form_tag shops_import_path, multipart: true do %>
                  <%= file_field_tag :file, class: "form-control" %>
                  <%= button_tag :submit, class: "btn btn-outline-warning", title: t("shop.product.import") do %>
                    <%= t "shop.product.import" %><i class="fa fa-upload "></i>
                  <% end %>
                <% end %>
                <%= button_tag class: "btn btn-outline-primary ml-2", id: "btn-export", title: t("shop.product.export") do %>
                  <%= t "shop.product.export" %><i class="fa fa-download"></i>
                <% end %>
                <%= link_to new_shops_product_path, class: "btn btn-outline-success ml-2" do %>
                  <%= t "shop.product.create.add" %> <i class="fa fa-plus-square"></i>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="digital-add needs-validation">
            <table id="data-table" class="table table-hover table-bordered">
              <thead>
                <tr>
                  <th>#</th>
                  <th><%= t "shop.product.create.avatar" %></th>
                  <th><%= sort_link @search, :name, t("shop.product.create.name") %></th>
                  <th><%= sort_link @search, :price, t("shop.product.create.price") %></th>
                  <th><%= sort_link @search, :brand_name, t("shop.product.create.brand") %></th>
                  <th><%= sort_link @search, :category_name, t("shop.product.create.category") %></th>
                  <th><%= sort_link @search, :created_at, t("shop.product.index.created_at") %></th>
                  <th><%= t "shop.product.index.function" %></th>
                </tr>
              </thead>
              <tbody>
                <%= render @products %>
              </tbody>
            </table>
            <div class="product-pagination">
              <%= paginate @products, theme: Settings.paginate_theme %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
