<footer>
  <div class="light-layout">
    <div class="container">
      <section class="small-section border-section border-top-0">
        <div class="row">
          <div class="col-lg-6">
            <div class="subscribe">
              <div>
                <h4><%= t "home.footer.know_text" %></h4>
                <p><%= t "home.footer.remember_text" %></p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
          </div>
        </div>
      </section>
    </div>
  </div>
  <section class="section-b-space light-layout">
    <div class="container">
      <div class="row footer-theme partition-f">
        <div class="col-lg-4 col-md-6">
          <div class="footer-title footer-mobile-title">
            <h4><%= t "home.footer.about" %></h4>
          </div>
          <div class="footer-contant">
            <div class="footer-logo"><img src="http://themes.pixelstrap.com/multikart/assets/images/icon/logo.png" alt=""></div>
            <p><%= t "home.footer.introduction" %></p>
            <div class="footer-social">
              <ul>
                <li><i class="fa fa-facebook" aria-hidden="true"></i></li>
                <li><i class="fa fa-google-plus" aria-hidden="true"></i></li>
                <li><i class="fa fa-twitter" aria-hidden="true"></i></li>
                <li><i class="fa fa-instagram" aria-hidden="true"></i></li>
                <li><i class="fa fa-rss" aria-hidden="true"></i></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col offset-xl-1">
          <div class="sub-title">
            <div class="footer-title">
              <h4><%= t "home.footer.account" %></h4>
            </div>
            <div class="footer-contant">
              <ul>
                <li></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="sub-title">
            <div class="footer-title">
              <h4><%= t "home.footer.cause" %></h4>
            </div>
            <div class="footer-contant">
              <ul>
                <li></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="sub-title">
            <div class="footer-title">
              <h4><%= t "home.footer.store_information" %></h4>
            </div>
            <div class="footer-contant">
              <ul class="contact-list">
                <li><i class="fa fa-map-marker"></i><%= t "home.footer.address" %>
                </li>
                <li><i class="fa fa-phone"></i><%= t "home.footer.phone" %></li>
                <li><i class="fa fa-envelope-o"></i><%= t "home.footer.mail" %></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</footer>
