<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "user/user", "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <div class="banner-top container-fluid" id="home">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= render "layouts/header" %>
      <%= yield %>
      <%= render "layouts/footer" %>
    </div>
  <!-- Theme js-->
  <%= javascript_include_tag "user/theme", "data-turbolinks-track": "reload" %>
  <%= javascript_include_tag "user/price_range", "data-turbolinks-track": "reload" %>
  </body>
</html>
