<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "shops/shop", media: "all", "data-turbolinks-track": true %>
    <%= javascript_include_tag "shops/shop", "data-turbolinks-track": true %>
    <%= javascript_include_tag "translations", skip_pipeline: true %>
  </head>

  <body>
    <div class="page-wrapper">
      <%= render "shops/layouts/header" %>
      <div class="page-body-wrapper">
        <%= render "shops/layouts/sidebar" %>
        <div class="page-body">
          <div class="container-fluid">
            <% flash.each do |msg_type, msg| %>
              <div class="alert alert-<%= msg_type %>"><%= msg %></div>
            <% end %>
          </div>
          <%= yield %>
          <div class="download-progress">
            <div class="col-md-3 pull-right">
              <i class="fa fa-download"></i>
              <span class="progress-bar"></span>
            </div>
          </div>
          <style>
            .download-progress {
              width: 200px;
              height: 30px;
              background: #0c5460;
              position: fixed;
              right: 70px;
              bottom: 30px;
              z-index: 9999;
              opacity: 80%;
              border-radius: 5px;
            }
          </style>
        </div>
        <%= render "shops/layouts/footer" %>
      </div>
    </div>
    <script type="text/javascript">
	    I18n.defaultLocale = "<%= I18n.default_locale %>";
	    I18n.locale = "<%= I18n.locale %>";
    </script>
  </body>
</html>
