<p><%= t "devise.passwords.email.greeting" %> <%= @resource.email %>!</p>
<p><%= t "devise.passwords.email.content" %></p>
<p><%= link_to t("devise.passwords.email.link"), edit_password_url @resource, reset_password_token: @token %></p>
<p><%= t "devise.passwords.email.no_request" %></p>
